<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/" class="logo">
            <img style="width: 120px;" src="assets/images/U-logo.png">
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li>
              <a href="/" class="{{#if home_active}}active{{/if}}">Home</a>
            </li>
            <li>
              <a href="/men" class="{{#if men_active}}active{{/if}}">Men's</a>
            </li>
            <li>
              <a href="/women" class="{{#if women_active}}active{{/if}}">Women's</a>
            </li>
            <li>
              <a href="/kids" class="{{#if kids_active}}active{{/if}}">Kids's</a>
            </li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->