<br />
<!-- ***** Men Area Starts ***** -->
<section class="section" id="men">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h2>Men's Latest Shoes</h2>
          <span>Super Premium Quality Products.</span>
        </div>
      </div>
    </div>
  </div>
 <div class="container">
    <div class="row men-items">
        <div class="col-lg-4 col-md-6">
            <div class="item">
                <div class="thumb">
                    <div class="hover-content">
                        <ul>
                            <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <img class="img-fluid" src="assets\products\shoes\ASICS GEL KAHANA 8 VENTURE Front.jpg" alt="" />
                </div>
                <div class="down-content">
                    <h4>CONVERSE SHORT</h4>
                    <span>₹899</span> 
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="item">
                <div class="thumb">
                    <div class="hover-content">
                        <ul>
                            <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <img class="img-fluid" src="assets\products\shoes\jordan_retro1_pandaFront.jpg" alt="" />
                </div>
                <div class="down-content">
                    <h4>JORDAN RETRO 1 PANDA LOW</h4>
                    <span>₹1900</span> 
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="item">
                <div class="thumb">
                    <div class="hover-content">
                        <ul>
                            <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <img class="img-fluid" src="assets\products\shoes\Jordanretro1TravisScottlowFront.jpg" alt="" />
                </div>
                <div class="down-content">
                    <h4>JORDAN RETRO 1 TRAVIS SCOTT LOW</h4>
                    <span>₹1900</span> 
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="item">
                <div class="thumb">
                    <div class="hover-content">
                        <ul>
                            <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <img class="img-fluid" src="assets\products\shoes\ASICS GEL KAHANA 8 VENTURE Front.jpg" alt="" />
                </div>
                <div class="down-content">
                    <h4>ASICS GEL KAHANA 8 VENTURE</h4>
                    <span>₹2450</span> 
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="item">
                <div class="thumb">
                    <div class="hover-content">
                        <ul>
                            <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <img class="img-fluid" src="assets\products\shoes\Converse_long Front.jpg" alt="" />
                </div>
                <div class="down-content">
                    <h4>CONVERSE LONG</h4>
                    <span>₹899</span> 
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="item">
                <div class="thumb">
                    <div class="hover-content">
                        <ul>
                            <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <img class="img-fluid" src="assets\products\shoes\vans_OLD_skool Front.jpg" alt="" />
                </div>
                <div class="down-content">
                    <h4>VANS OLD SKOOL</h4>
                    <span>₹899</span> 
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6">
            <div class="item">
                <div class="thumb">
                    <div class="hover-content">
                        <ul>
                            <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <img class="img-fluid" src="assets\products\shoes\jordan_retro1_GreeenFront.jpg" alt="" />
                </div>
                <div class="down-content">
                    <h4>JORDAN RETRO 1 MYSTIC GREEN</h4>
                    <span>₹1900</span> 
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- ***** Men Area Ends ***** -->