<!DOCTYPE html>
<html lang="en">

<head>
    {{#if adminlogin}}
    {{>admin-head}}
    {{else}}
    {{>user-head}}
    {{/if}}    
</head>

<body>
  {{#if adminlogin}}
  {{>admin-header}}
  {{else}}
  {{>preloader}}
  {{>user-header}}
  {{/if}}

  {{{body}}}

  {{#if adminlogin}}
  {{>admin-footer}}
  {{else}}
  {{>user-footer}}
  {{/if}}
</body>
</html>